body{
    background-color: #d14836;
    font: Verdana;
 }

#top{
    color: white;
    margin: 10px;
}

ul { 
    list-style-type: none;
    float: right;

}

#top h1{
    
    width: 155px;
}

#menubar{ 

}

#main{ 
    background-color: white;
    border: #d14836 solid 1px;
}

#mainh1, #mainh2, #sidebar{ 
    color: #d14836;
}

#sidebar{ 

}

#bottom{

}

#bottom p{ 

}

li{ 

}

li:hover{ 

}

li:nth-child(2){ 

}

a{ 

}

a:hover{ 

}

/*
background-color: #d14836;
background-color: #F6DAD7;
background-color: white;
background-color: white;
border-radius: 40px;
color: #d14836;
color: #d14836;
color: #d14836;
color: white;
color: white;
color: white;
cursor: pointer;
float: right;
font: 80% Verdana;
font: Verdana;
font-family: Arial;
font-size: 30px;
font-size: 70%;
font-weight: bold;
line-height: 20px;
line-height: 26px;
line-height: 50px;
margin: 0;
margin: 0px;
margin: 10px;
padding: 0;
padding: 10px;
padding: 10px;
padding: 10px;
padding: 15px;
padding: 5px;
text-align: center;
text-align: center;
text-decoration: none;
text-decoration: underline;
width: 155px;
*/