body{
    background-color: black;
    color: #84c754;
    font: 100% "Courier New";
}

#top{
    padding: 15px;
}

#top h1,  #top p{
    margin: 0;
}

li:hover{
    color: white;
    cursor: pointer;
}

li:nth-child(4) {
    color: white;
    font-weight: bold;
}

#menubar{
    background-color: black;
}

#main{
    margin: 15px;
}

.wrapper{
    position: relative;
}

#sidebar{
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 80%;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
}

a {
    color: white;
}

a:hover {
    color: #84c754;
}

#abaixo {
    color: white;
    border: 1px solid;
    border-radius: 6px;
    font-size: 70%;
    line-height: 14px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 700px) {
    #sidebar {
        position: relative;
        width: auto;
    }
}